.section-2-container {
    width: 100%;
    background-color: aliceblue;
}

#details {
    width: 100%;

}

.section-2-temp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.title-section-2 {
    font-size: 2rem;
    margin: 4rem 0 2rem;

}

.hero-container {
    display: flex;
    width: 100%;
    height: 35%;

}


.info-uploader-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: aqua; */

}


.left-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    width: 50%;
    height: auto;

}


.fetched {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.right-image-container {
    height: 100%;
    width: 50%;

}

#uploaded-picture {
    width: 100%;
    min-width: 300px;
}
.label-section-2{
    font-size: 1.2rem;
}
.span-section_2{
    text-decoration: none;
}

@media  screen and (max-width: 770px) {
    .info-uploader-container{
        flex-direction: column;
        text-align: center;
    }
    .left-grid-container{
        row-gap: 2rem;
        padding-top: 20%;
        /* padding-left: 3rem; */
        /* padding-bottom: 5rem; */
    }
    
    #uploaded-picture{
        padding-top: 12%;
    }
}
@media  screen and (max-width: 950px) {
    .label-section-2{
        font-size: 1rem;
        padding-left: 2rem;
    }
    .span-section-2{
        padding-left: 2rem;
    }
}

@media  screen and (max-width: 1100px) {
    .label-section-2{
        font-size: 1rem;
        /* padding-left: 2rem; */
    }
    .span-section-2{
        /* padding-left: 2rem; */
    }

}


/* @media screen and (max-width: 1350px) {

    .info-uploader-container {
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }

    .right-image-container {
        /* width: 100%; */
    /* } */
/* } */ 

/* @media screen and (orientation: portrait) {
    .info-uploader-container {
        flex-wrap: wrap;
    }
} */